#author {
  text-align: center;
}

#background{
  background-color: #f2f2f2;
  border-radius: 20px;
}

#btnrow{
  display:inline-block;
}

#button {
  float: right;
  margin: 16px;
}

#button > button{
  background-color: orange;
  border: none;
}

#quote{
  font-family: sans-serif;
  font-size: 16px;
}

#quotebox{
  height: auto;
  width: auto;
  padding: 10px;
  border-left: 2px solid orange;
  margin: 10px;
}

#twitter{
  margin: 10px;
  float: left;
}

#twitter > a {
  color: orange;
}
